node_modules/*
.env
.env.example
.venv/*

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Log files
logs/
*.log

ai_shorts_maker/outputs/*
ai_shorts_maker/assets
youtube/download/*
youtube/old
*.png
old/*
test*
*.xlsx
*.json
*.md
*.csv
*.txt
